@charset "UTF-8";

body{
    background-color: rgb(34, 34, 34);
    font-family: 'Courier New', Courier, monospace;
} 

h1{
    color: aliceblue;
    text-align: center;
}

h2{
    color: antiquewhite;
}

p{
    color:aquamarine;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}